/*!
 * Contact Buttons Plugin Demo 0.1.0
 * https://github.com/joege/contact-buttons-plugin
 *
 * Copyright 2015, José Gonçalves
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
 
 #contact-buttons-bar {
  z-index: 500;
  position: fixed;
  top: 120px;
  left: -50px;
  width: 45px;
}

@media only screen and (max-width: 768px) {
  .contact-button-link.webph {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .contact-button-link.phone {
    display: none;
  }
}

#contact-buttons-bar.slide-on-scroll {
  position: absolute;
}

@media only screen and (min-width: 1024px) {
  .contact-button-link  {
    line-height: 50px;
    font-size: 22px;
    width: 45px;
    height: 45px;
  }
}
.contact-button-link {
  display: block;
  width: 35px;
  height: 35px;
  padding: 0;
  margin-bottom: 1px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  background: #8e8e93;
  color: #fff;
  position: relative;
  left: 0;
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  
  -webkit-transition: all 250ms;
     -moz-transition: all 250ms;
          transition: all 250ms;
}
.contact-button-link:hover,
.contact-button-link:focus,
.contact-button-link:active {
  color: #fff;
  padding-left: 20px;
  width: 70px;
}
@media only screen and (min-width: 1024px) {
  .contact-button-link  {
    line-height: 50px;
    font-size: 22px;
    width: 45px;
    height: 45px;
  }
}
.contact-button-link.cb-hidden {
  left: -50px;
}
.contact-button-link.facebook {
  background: #3b5998;
}
.contact-button-link.instagram {
  background: #BF3284;
}
.contact-button-link.gplus {
  background: #db4437;
}

.contact-button-link.separated {
  margin-top: 1em;
}

.show-hide-contact-bar,
.contact-button-link.show-hide-contact-bar:focus,
.contact-button-link.show-hide-contact-bar:active {
  background: transparent;
  color: #000;
  border: 0;
  outline: 0;
  padding: 0;
  width: 50px;
}
.contact-button-link.show-hide-contact-bar:hover {
  color: #000;
  background: #ccc;
  padding: 0;
  width: 50px;
}