@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,700,900|Raleway');
/* ! normalize.css v1.0.0 | MIT License | git.io/normalize */
 
/* ==========================================================================
HTML5 display definitions
========================================================================== */
 
/* * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3. */
 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
/* * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
/* * Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }
/* * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3, * and Safari 4.
* Known issue:no IE 6 support. */
[hidden] { display: none; }
/* ==========================================================================
Base
========================================================================== */
/* * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevents iOS text size adjust after orientation change, without disabling
*    user zoom. */
 
html { font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
-ms-text-size-adjust: 100%; /* 2 */ }
/* * Addresses `font-family` inconsistency between `textarea` and other form
* elements. */
html, button, input, select, textarea { font-family: sans-serif; }
/* * Addresses margins handled incorrectly in IE 6/7. */
body { position:relative; margin: 0; font-family: 'Lato', sans-serif; overflow-x: hidden; }
html, body { width: auto !important; overflow-x: hidden !important; }
/* ==========================================================================
Links
========================================================================== */
/* * Addresses `outline` inconsistency between Chrome and other browsers. */
 
a:focus { outline: thin dotted; }
/* * Improves readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }
/* ==========================================================================
Typography
========================================================================== */
/* * Addresses font sizes and margins set differently in IE 6/7.
* Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5, * and Chrome. */
 
h1 { font-size: 2em; margin: 0.67em 0; }
h2 { font-size: 1.5em; margin: 0.83em 0; }
h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.75em; margin: 2.33em 0; }
/* * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }
/* * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome. */
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
/* * Addresses styling not present in Safari 5 and Chrome. */
dfn { font-style: italic; }
/* * Addresses styling not present in IE 6/7/8/9. */
mark { background: #ff0; color: #000; }
/* * Addresses margins set differently in IE 6/7. */
p, pre { margin: 1em 0; }
/* * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome. */
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
/* * Improves readability of pre-formatted text in all browsers. */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
/* * Addresses CSS slideshow not supported in IE 6/7. */
q { slideshow: none; }
/* * Addresses `slideshow` property not supported in Safari 4. */
q:before, q:after { content: ''; content: none; }
small { font-size: 75%; }
/* * Prevents `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* ==========================================================================
Lists
========================================================================== */
/* * Addresses margins set differently in IE 6/7. */
 
dl, menu, ol, ul { margin: 1em 0; }
dd { margin: 0 0 0 40px; }
/* * Addresses paddings set differently in IE 6/7. */
menu, ol, ul { padding: 0 0 0 40px; }
/* * Corrects list images handled incorrectly in IE 7. */
nav ul, nav ol { list-style: none; list-style-image: none; }
/* ==========================================================================
Embedded content
========================================================================== */
/* * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
* 2. Improves image quality when scaled in IE 7. */
 
img { border: 0; /* 1 */
-ms-interpolation-mode: bicubic; /* 2 */ }
/* * Corrects overflow displayed oddly in IE 9. */
svg:not(:root) { overflow: hidden; }
/* ==========================================================================
Figures
========================================================================== */
/* * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11. */
 
figure { margin: 0; }
/* ==========================================================================
Forms
========================================================================== */
/* * Corrects margin displayed oddly in IE 6/7. */
 
form { margin: 0; }
/* * Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
/* * 1. Corrects color not being inherited in IE 6/7/8/9.
* 2. Corrects text not wrapping in Firefox 3.
* 3. Corrects alignment displayed oddly in IE 6/7. */
legend { border: 0; /* 1 */
	padding: 0; white-space: normal; /* 2 */
*margin-left: -7px; /* 3 */ }
/* * 1. Corrects font size not being inherited in all browsers.
* 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5, *    and Chrome.
* 3. Improves appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
*vertical-align: middle; /* 3 */ }
/* * Addresses Firefox 3+ setting `line-height` on `input` using ` !important` in
* the UA stylesheet. */
button, input { line-height: normal; }
/* * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Corrects inability to style clickable `input` types in iOS.
* 3. Improves usability and consistency of cursor style between image-type
*    `input` and others.
* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
*    Known issue:inner spacing remains in IE 6. */
button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
*overflow: visible; /* 4 */ }
/* * Re-set default cursor for disabled elements. */
button[disabled], input[disabled] { cursor: default; }
/* * 1. Addresses box sizing set to content-box in IE 8/9.
* 2. Removes excess padding in IE 8/9.
* 3. Removes excess padding in IE 7.
*    Known issue:excess padding remains in IE 6. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
*width: 13px; /* 3 */ }
/* * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */
box-sizing: content-box; }
/* * Removes inner padding and search cancel button in Safari 5 and Chrome
* on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
/* * Removes inner padding and border in Firefox 3+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
/* * 1. Removes default vertical scrollbar in IE 6/7/8/9.
* 2. Improves readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */
vertical-align: top; /* 2 */ } 
/* ==========================================================================
Tables
========================================================================== */
/* * Remove most spacing between table cells. */
 
table { border-collapse: collapse; border-spacing: 0; }
/* * Remove most spacing between table cells. */
/* ==========================================================================
Headings
========================================================================== */
h1.chain { text-align: center; text-transform: uppercase; color: #353738; letter-spacing: 2px; font-size: 18px; font-weight: 600; background: url(../img/cog-icon.png) no-repeat top center; padding-top: 75px; }
h2.frame { text-align: center; text-transform: uppercase; color: #353738; letter-spacing: 2px; font-size: 18px; font-weight: 600; background: url(../img/frame-icon.png) no-repeat top center; padding-top: 65px; margin-top: 70px; }
h2.mech { text-align: center; text-transform: uppercase; color: #353738; letter-spacing: 2px; font-size: 18px; font-weight: 600; background: url(../img/mech-icon.png) no-repeat top center; padding-top: 65px; margin-top: 70px; }
h2.front-frame { text-align: center; text-transform: uppercase; color: #353738; letter-spacing: 2px; font-size: 18px; font-weight: 600; background: url(../img/front-icon.png) no-repeat top center; padding-top: 65px; margin-top: 70px; }
h2.twitter-post-username { color: #353738; letter-spacing: 2px; font-size: 18px; font-weight: 600; margin-top: 30px; }
h2.twitter-post-username span { color: #848789; font-weight: 300; }
h2.logo-header { text-align: center; color: #848789; letter-spacing: 1px; font-size: 24px; font-weight: 300; background: url(../imgs/globe-mini.png) no-repeat top center; padding-top: 120px; margin: 70px 0 40px 0; font-style: italic; }
/* ==========================================================================
User Styles
========================================================================== */
/* ==========================================================================
User Styles
========================================================================== */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.pullcontainer a#pull { display: none; }
a { color: #282f35; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
a:hover { color: #64c29e; text-decoration: none; }
p { text-align: center; font-size: 14px; color: #848789; font-weight: 400; word-spacing: 2px; line-height: 1.8em; margin-top: 25px; }
p.text-intro { font-size: 18px; font-weight: 400}
#hero {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../imgs/cyan.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}
#hero .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .15;
    background-color: #19191b
}
.effects .img,
.hero-content,
.hero-content h1 {
    position: relative;
    text-align: center;
}
.intro,
header {
    background-color: #fff
}
.hero-content {
    width: 100%;
    height: 100%;
    padding-top: 16.2rem;
    padding-bottom: 15rem;
    z-index: 500
}
.hero-content h3 {
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 2rem;
    letter-spacing: .3rem;
    line-height: 15px
}
.hero-content h1 {
    font-size: 5rem;
    font-family: Lato, serif;
    font-weight: 900;
    color: #fff
}
.hero-content p {
    line-height: .1;
    color: #fff;
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
    letter-spacing: .2rem;
    font-weight: 400
}
@media only screen and (max-width: 768px) {
    #hero {
        height: 590px
    }
    .hero-content h3 {
        font-size: 1.5rem
    }
    .hero-content h1 {
        font-size: 3.5rem
    }
    .hero-content p {
        font-size: 1.3rem
    }
}
@media only screen and (max-width: 600px) {
    .hero-content h3 {
        font-size: 1.2rem
    }
    .hero-content h1 {
        font-size: 3rem
    }
    .hero-content p {
        font-size: 1rem
    }
}
header ul { padding-top: 32px; }
header ul li { list-style: none; float: left; text-transform: uppercase; letter-spacing: 2px;}
header ul li a { display: block; margin: 0 30px; color: #4d4959; }
.r_spacer { margin-right: 180px; }
.intro { padding: 115px 50px}
.nopadding { padding: 0 !important; margin: 0 !important; }
.thin-sep { height: 1px; background-color: #d7d7d7; width: 50px; margin: 8% auto 0 auto; }
.left-box-1 { width: 50%; float: left; }
.left-box-2 { width: 50%; float: right; }
.left-box-btm { width: 100%; }
.left-box-1 img, .left-box-2 img, .left-box-btm img { width: 100%; }
.mid-box-1 { width: 50%; float: left; }
.mid-box-2 { width: 50%; float: right; }
.mid-box-1 img { width: 100%; height: 100%; }
.mid-box-2 img { width: 100%; height: 100%; }
.right-box-1 { width: 100%; }
.right-box-2 { width: 50%; float: left; }
.right-box-3 { width: 50%; float: right; }
.right-box-3 img, .right-box-2 img, .right-box-1 img { width: 100%; }
.overlay { z-index: 10 }
.map {
    margin-top: 30px
}
.discover {
    text-align: center;
    background-color: #111;
    padding: 70px 0
}
#rowpad .lead {
  margin-bottom: 80px;
}
.shop-btn {
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 15px 50px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 400
}
.shop-btn:focus,
.shop-btn:hover {
    border: 1px solid #f9a828;
    color: #f9a828
}
.submit-btn {
    background-color: #282f35;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 300;
    padding: 25px 50px
}
.submit-btn a:focus,
.submit-btn a:hover {
    color: #f9a828
}
.submit-btn a {
    color: #fff
}
section.sign_up { padding: 40px 0 110px 0; text-align: center;}
footer { background-color: #111; padding: 100px 0; }
.footer-leftcol p { text-align: left; color: #fff; opacity: 0.9; font-size: 1rem}
.footer-rightcol p { text-align: right; color: #fff; opacity: 0.9; font-size: 1rem}
.bold-16p { font-size: 1.2rem; font-weight: 600; }
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }
.bounceInLeft, .bounceInRight, .fadeInUp { visibility: visible; }
#rowpad {padding: 30px 0;}
.reg:focus, .reg:hover {
  color: #d01c68;
}
.cd-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #f9a828 url(../imgs/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #f9a828;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px
    }
    .submit-btn {
        width: 60%;
        height: 60%
    }
  .modal-dialog {
    width: 80%;
  }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 45px;
        width: 45px;
        right: 30px;
        bottom: 30px
    }
}
.map {
    padding: 0 40px;
    width: 100%;
    height: 300px;
    border: 0
}
.navbar-default,
a {
    -webkit-transition: all .35s;
    -moz-transition: all .35s
}
.navbar-default,
.navbar-default .navbar-header .navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}
.navbar-default {
    background-color: #fff;
    border-color: rgba(34, 34, 34, .05);
    transition: all .35s
}
.bricks-wrapper .item-wrap .overlay img,
.bricks-wrapper .item-wrap .overlay::after {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out
}
.navbar-default .navbar-header .navbar-brand {
    color: #f9a828;
    font-weight: 700;
    text-transform: uppercase
}
.navbar-default .navbar-header .navbar-brand:focus,
.navbar-default .navbar-header .navbar-brand:hover {
    color: #eb3812
}
.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus,
.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 15px;
    color: #222;
    text-transform: uppercase
}
.navbar-default .nav>li>a:focus:hover,
.navbar-default .nav>li>a:hover {
    color: #f9a828
}
.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f9a828!important;
    background-color: transparent
}
.navbar-default .nav>li.active>a:focus:hover,
.navbar-default .nav>li.active>a:hover {
    background-color: transparent
}
@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        border-color: rgba(255, 255, 255, .3)
    }
    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, .7)
    }
    .navbar-default .navbar-header .navbar-brand:focus,
    .navbar-default .navbar-header .navbar-brand:hover {
        color: #fff
    }
    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255, 255, 255, .7)
    }
    .navbar-default .nav>li>a:focus:hover,
    .navbar-default .nav>li>a:hover {
        color: #fff
    }
    .navbar-default.affix {
        background-color: #fff;
        border-color: rgba(34, 34, 34, .05)
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        color: #f9a828;
        font-size: 17px
    }
    .navbar-default.affix .navbar-header .navbar-brand:focus,
    .navbar-default.affix .navbar-header .navbar-brand:hover {
        color: #eb3812
    }
    .navbar-default.affix .nav>li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222
    }
    .navbar-default.affix .nav>li>a:focus:hover,
    .navbar-default.affix .nav>li>a:hover {
        color: #f9a828
    }
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 9999;
    height: 100%;
    width: 100%
}
.no-js #preloader,
.oldie #preloader {
    display: none
}
#portfolio .bricks-wrapper:after,
#portfolio .bricks-wrapper:before,
.roww:after,
.roww:before {
    display: table;
    content: "";
    clear: both;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    background-color: #f9a828;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out
}
@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0
    }
}
@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}
.roww {
    width: 94%;
    max-width: 1170px;
    margin: 0 auto
}
.roww .roww {
    width: auto;
    max-width: none;
    margin-left: -20px;
    margin-right: -20px
}
.col-full,
.col-twelve {
    width: 100%
}
@media screen and (max-width: 1024px) {
    .roww .roww {
        margin-left: -18px;
        margin-right: -18px
    }
    [class*=col-] {
        padding: 0 18px
    }
}
@media screen and (max-width: 768px) {
    .roww {
        width: auto;
        padding-left: 30px;
        padding-right: 30px
    }
    .roww .roww {
        padding-left: 0;
        padding-right: 0;
        margin-left: -15px;
        margin-right: -15px
    }
}
@media screen and (max-width: 600px) {
    .roww {
        padding-left: 25px;
        padding-right: 25px
    }
    .roww .roww {
        margin-left: -10px;
        margin-right: -10px
    }
}
#portfolio {
    background: #FFF;
    min-height: 800px;
    position: relative;
    padding: 0
}
#portfolio .intro-wrap {
    padding: 7rem 0 21rem;
    background: #111
}
#portfolio .section-intro h1 {
    color: #FFF
}
#portfolio .section-intro .lead {
    color: rgba(242, 242, 242, .4)
}
#portfolio .portfolio-content {
    margin-top: -22.2rem
}
#portfolio .bricks-wrapper .brick {
    float: left;
    padding: 0;
    margin: 0
}
#portfolio .bricks-wrapper .brick:nth-child(2n+1) {
    float: right
}
.bricks-wrapper .item-wrap {
    position: relative;
    overflow: hidden
}
.bricks-wrapper .item-wrap .overlay img {
    vertical-align: bottom;
    transition: all .3s ease-in-out
}
.bricks-wrapper .item-wrap .overlay::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 1
}
.bricks-wrapper .item-wrap .overlay::after {
    font-family: georgia, serif;
    font-size: 3rem;
    z-index: 1;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: #FFF;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5)
}
.bricks-wrapper .item-wrap .item-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3.6rem 0 0 3rem;
    margin-right: 6rem;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.bricks-wrapper .item-wrap .item-text .folio-agenda {
    color: rgba(255, 255, 255, .7);
    font-size: 1rem;
    line-height: 1.364;
    word-spacing: 0;
    margin: 0;
    text-align: left
}
.bricks-wrapper .item-wrap .item-text .folio-title {
    color: #FFF;
    font-size: 1.1rem;
    line-height: 1.364
}
.bricks-wrapper .item-wrap .item-text .folio-types {
    font-size: 2.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgba(255, 255, 255, .7);
    display: block
}
.bricks-wrapper .item-wrap:hover .overlay::before {
    opacity: 1;
    visibility: visible
}
.bricks-wrapper .item-wrap:hover .overlay::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}
.bricks-wrapper .item-wrap:hover .overlay img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}
.bricks-wrapper .item-wrap:hover .item-text {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}
@media only screen and (max-width: 768px) {
    #portfolio .intro-wrap {
        padding: 12rem 0 21rem
    }
    .bricks-wrapper .item-wrap .overlay,
    .bricks-wrapper .item-wrap .overlay img {
        height: 100%;
        width: 100%
    }
    .bricks-wrapper .item-wrap .item-text {
        padding: 0 0 0 1rem;
        margin: 1rem 0
    }
    .bricks-wrapper .item-wrap .item-text .folio-types {
        font-size: 1.3rem;
        line-height: 1.5
    }
    .bricks-wrapper .item-wrap .item-text .folio-title {
        font-size: 1rem;
        line-height: 1.5
    }
    .bricks-wrapper .item-wrap .item-text .folio-agenda {
        font-size: .9rem;
        line-height: 1.5
    }
}
@media only screen and (max-width: 600px) {
    #portfolio .bricks-wrapper .brick {
        width: 100%
    }
    .bricks-wrapper .item-wrap .item-text .folio-types {
        font-size: 1rem;
        line-height: 1.5
    }
    .bricks-wrapper .item-wrap .item-text .folio-title {
        font-size: .9rem;
        line-height: 1.5
    }
    .bricks-wrapper .item-wrap .item-text .folio-agenda {
        font-size: .8rem;
        line-height: 1.5
    }
}
.hide {
    display: none
}
.section-intro {
    text-align: center;
    position: relative;
    margin-bottom: 1.5rem
}
.section-intro h1 {
    font-size: 3.8rem;
    line-height: 1.375;
    color: #151515
}
.section-intro .lead {
    font-size: 1.4rem;
    line-height: 1.833;
}
.section-intro.with-bottom-sep {
    padding-bottom: 4.2rem;
    position: relative
}
.section-intro.with-bottom-sep::after {
    display: inline-block;
    height: 1px;
    width: 200px;
    background-color: rgba(242, 242, 242, .1);
    text-align: center
}
.gensec {
  color: #fff;
  padding: 0 20px;
}
.gensec img {
  padding: 50px 0;
  text-align: center;
}
.gensec h1 {
  color: #fff;
}
.gensec.with-bottom-sep {
  padding-bottom: 50px;
}
.form {
  width: 100%;
  top: -50px;
  position: relative;
  height: 100px;
  background-image: url("../imgs/greyb.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: repeat;
  background-position: 0% 0%;
}
.form h3 {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
.butn {
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: normal;
  padding: 10px;
  margin: 22px 10px;
  color: white;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.butn:hover, .butn:focus {
  color: #f9a828;
}
@media only screen and (max-width: 768px) {
   .section-intro h1 {
        font-size: 3.3rem
    }
    .section-intro .lead {
        font-size: 1.3rem
    }
}
@media only screen and (max-width: 640px) {
  .gensec img {
    width: 85%;
    height: 65%;
  }
    .section-intro h1 {
        font-size: 2.8rem
    }
    .section-intro .lead {
        font-size: 1.2rem
    }
}
@media only screen and (max-width: 480px) {
  .gensec img {
    width: 80%;
    height: 60%;
  }
    .section-intro h1 {
        font-size: 2.5rem
    }
    .section-intro .lead {
        font-size: 1.1rem
    }
}
.wide {
    max-width: 1300px
}
.narrow {
    max-width: 800px
}
.info {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-family: Lato, sans-serif
}
#clockdiv{
  position:absolute;
  margin-top:-10%;
  margin-left:22%;
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
}
#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: rgba(0,0,0,.5);
  display: inline-block;
}
#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: rgba(0,0,0,.5);
  display: inline-block;
}
.smalltext{
  padding-top: 5px;
  font-size: 16px;
}
.slideshow {
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center; /* align vertical */
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9000;
  background-color: black;
  top: 0;
  left: 0;
  color: #fff;
  overflow-y: hidden;
}
.slideshow h4 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size: 3.5rem;
}
.quotes {
    display: none;
}
.item-text .btn {
  margin-top: 200px !important;
  background-color: transparent;
  border-color: #fff;
  display: block;
}
.item-text .btn:hover, .item-text .btn:focus {
  background-color: black;
  color: #FFF !important;
  border-color: #f9a828;
}
@media only screen and (max-width: 992px) {
  .slideshow h4 {
    font-size: 2rem;
  }
  .smalltext {
    padding-top: 2px;
    font-size: 10px;
  }
  #clockdiv div > span{
    padding: 10px;
  }
  #clockdiv > div {
    padding: 5px;
  }
  #clockdiv {
    top: 20px;
    padding-bottom: 30px;
    position:relative;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
  }
  .item-text .btn {
  margin-top: 30px !important;
  }
}
.modal-body img {
  display: block;
  margin: 0 auto;
}
.lead .mat {
  color:inherit;
  padding: 0 15px;
}
.lead .mat:hover {
  color: #fff;
}
.modal-study {
  text-align: right;
  float: right;
  padding: 0 20px;
}
.modal-study:hover, .modal-study:focus {
  color: #f9a828;
}
.lead .mun {
    color: #f9a828;
}
.lead .mun:hover, .lead .mun:focus {
  color: #eb3812;
}
.text-center {
    text-align: center;
}
.team {
  padding: 7rem 0 7rem !important;
}
.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    top: -100px;
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}
.team-title {
    position: relative;
    top: -100px;
    padding: 20px 0 40px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}
@media only screen and (max-width: 700px) {
   .item-text .btn {
    margin-top: 10px !important;
  }
  .modal-body img {
    height: 70%;
    width: 70%;
  }
  .team-member, .team-member .team-img {
    height: 80%;
    width: 80%;
    margin: 0 auto;
  }
  .team-title {
    text-align: center;
  }
}
.win {
  color: #f9a828;
}
.win:hover, .win:focus {
  color: #fff;
}